html, body{
	margin:0;
	padding: 0 20px;
}

.thread-header{
	margin: 0;
	padding: 0;
}


.thread-header .kiri, .comment-header .kiri{
	float: left;
	text-align: center;
	padding: 10px;
}

.thread-header .kanan{
	display: block;
	padding: 10px;

}
.thread-header h2{
	margin-bottom: 0;
}
.thread-title a, .thread-title a:hover{
	text-decoration: none;
}
.thread-content{
	display: block;
	margin-left: 50px;
}
.upvotes, .c-upvotes{
	margin: 5px;
	display: none;
}

.current{
	display: block;
}

.label{
	font-size: 10pt;
	text-transform: uppercase;
	display: inline-block;
}

.voteBtn, .c-voteBtn {
	background: transparent;
	border: none;
}

.voted{
	color: red;
}